
div.title{
    display: inline-block;
    left: 0px;
    top: 0px;
    right: 0px;
    background-color: white;
    position: absolute;
    padding: 15px;
    text-align: right;
    font-family: "Times New Roman", "Arial Black";
    color: black;
    width: 96%;
    height: 25px;
    border-style: groove;
    border-width: thick;
}
a.h_img{
    position: absolute;
    left: 5px;
    top: 5px;
}
a.link{ /*Si usa per le pagine di collegamento presenti nell' header*/
    /*Text*/
    text-decoration-line: none;
    /**/
    color: black;
    position: relative;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
}

button.b_search{
    border-color: indianred;
}
#baricerca{
    background-color: white;
    border-color: indianred;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    border-right: none;
    width: 150px;
}

a.link:hover{ /*Si attiva quando ci passo sopra col mouse*/
    background-color: darkgray;
}