
div.title{
    display: inline-block;
    background-color: lawngreen;
    position: relative;
    text-align: center;
    font-family: "Times New Roman", "Arial Black";
    color: blueviolet;
    width: 100%;
}
a.h_img{
    position: absolute;
    left: 5px;
    top: 5px;
}
a.link{ /*Si usa per le pagine di collegamento presenti nell' header*/
    /*Text*/
    text-decoration-line: none;
    color: black;
    text-decoration-line: none;
    /**/
    position: relative;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
}
#baricerca{
    background-color: white;
    border-color: indianred;
    border-top-left-radius: 20%;
    border-right: none;
    width: 50px;
}
a.lente{
    background-color: white;
    border-color: indianred;
    border-width: 10px;
}
a.link:hover{ /*Si attiva quando ci passo sopra col mouse*/
    background-color: darkred;
}