div.pagina{
    //margin-left: 20%;
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
}

.element { //Dentro il container

  //position:relative;
  width:50%;
  height: 50%;
  margin: 1px; //Distanzia tra gli elementi
  background-color: gray;
}