div.pagina{
    height: 100%;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    margin-left: 250px;
    background-color: green;
    background-attachment: fixed; // Lo sfondo resta fisso
    background-position: center;
    border-radius: 5px 5px 5px 5px;
    max-width: 900px;
}
//
.element { //Dentro il container

  //position:relative;
  width:50%;
  height: 50%;
  margin: 1px; //Distanzia tra gli elementi
  background-color: gray;
}

@media (max-width: 540px){
  div.pagina{
    margin-left: 90px;
  }
}