/*css per il footer*/
footer {
  padding-bottom: 50px;
  background-color: gray;
  text-align: center;
  hr {
    height: 3px;
    background-color: blue;
  }
}
/* css per la barra orizzontale nel footer*/