/*css per il footer*/
footer {
  padding-bottom: 50px;
  background-color: gray;
  text-align: center;
}
/* css per la barra orizzontale nel footer*/
footer.hr {
  height: 3px;
  background-color: blue;
}