/*css per il footer*/
footer {
  position:absolute;                      //posizione assoluta
  bottom: 0px;                            //distanziamento dalla fine della pagina
  z-index: 100;                           //posizione del layer
  background-color: $clr-gray700;         //colore dell sfondo ( blu scuro )
  text-align: center;                     //allineamento del testo all'interno dei blocchi
  color: white;                           //colore del testo all'interno
  font-size: small;

  div{                                    /* css per la barra orizzontale nel footer*/
    background-color: $clr-gray700;
  }
}
@media (max-width:(740px)){
footer {
          height: 0%;
        }
}

