/*Definisco il css del div dell'header*/

div.head{
  /*Definisco la posizione rispetto a sinistra, alto, destra della pagina*/
  left: 0px;
  top: 0px;
  right: 0px;
  display:block;

  background-color: darkcyan; /*L'header ha lo sfondo veleste*/
  position:fixed; /*Il div rimane visibile anche con lo scrolling*/
  padding-top: 15px;
  padding-down: 15px;
  /*Gestisco lo spazio interno tra li elementi*/
  text-align: right; /*Metto il testo allineato a destra*/
  font-family: "Times New Roman", "Arial Black"; /*Definisco i vari stili di font per browser*/
  color: black; /*Definisco il colore delle scritte*/
  width: 100%; /*Lunghezza dell' header*/
  height: 55px; /*altezza dell' header*/
  /*border-style: unset; /*Definisco lo stile del bordo*/
  box-shadow: 1px  1px 1px 1px darkslategray;
  margin-bottom: 5px;
}

a.login_button{ /*Si usa per le pagine di collegamento presenti nell' header*/
  /*Text*/
  text-decoration-line: none; /*Tolgo la sottolineatura default del link*/
  color: black; /*Colore testo nero*/
  position: relative;
  border-radius: 15%; /*Definisco il bordo*/
  padding: 10px; /*Definisco la dimensione del background, per essere abbastanza grande per il testo*/
  margin: 10px 10px 10px 10px; /*Definisco i margini di distanza da su, destra, giu, sinistra*/
}
a.login_button:hover{ /*Si attiva quando ci passo sopra col mouse*/
  background-color: lightgray;
  color: black;
  text-decoration-line: none;
  cursor: pointer;
}

a.login_button2{ /*Si usa per le pagine di collegamento presenti nell' header*/
  /*Text*/
  text-decoration-line: none; /*Tolgo la sottolineatura default del link*/
  color: black; /*Colore testo nero*/
  position: relative;
  border-radius: 15%; /*Definisco il bordo*/
  padding: 10px; /*Definisco la dimensione del background, per essere abbastanza grande per il testo*/
  margin: 10px 10px 10px 10px; /*Definisco i margini di distanza da su, destra, giu, sinistra*/
}
a.login_button2:hover{ /*Si attiva quando ci passo sopra col mouse*/
  background-color: lightgray;
  color: black;
  text-decoration-line: none;
  cursor: pointer;
}
div.tendina-login-button{
  position:fixed;
  right: 20px;
  top: 50px;
  padding: 5px;
  background-color: lightgray;
  text-align: center;
  width: 10%;
  min-width: 102px;
  margin-bottom:0px;
  z-index: 118;
}
button.logout{
  background-color: #4a64e2;
  color: white;
}
button.logout:hover{
  background-color: white;
  color: darkblue;
}

#cancella{ //Per il bottone cancella per il login
  background-color: red;
  padding: 1px;
  border: none;
  value-text: white;
}
#cancella:hover{
  background-color: orangered;
}

input:focus{outline:none;} /*Mi toglie il bordo che si genera premendo nella barra di testo*/

#baricerca{
  height: 25px;
  display:inline-block;
  position: relative;
  background-color: deepskyblue;
  box-shadow: 1px 1px 1px cornflowerblue;
  border:none;
  width: 150px;
  color: lightgray;
  font-style: italic;
}
//
#butt_search{
  margin-left:20%;
  position: relative;
  display: inline-block;
  border:none;
  background-color: transparent;
  border-top-left-radius: 15%;
  border-bottom-left-radius: 15%;
  width: 20px;
  height: 25px;
}
#butt_search:hover{
  cursor: pointer;
}

div.login_div{ //Finesta di sfondo di login
  position: absolute;
  background-color: rgba(150,150,150, .75);
  width: 100%;
  height: 100%;
  z-index: 118;
  padding-top:10%;
  padding-bottom: 10%;
  padding-right: 5%;
  padding-left: 5%;
  form{
    .close{
      position: absolute;
      top:0;
      right:0;
      //align-self: end;
    }
    //Posizionamento in confronto al div
    position: absolute;
    display: block;
    top: 10%;
    right: 5%;
    max-height: 800px;
    max-width: 500px;
    min-height: 150px;
    min-width: 200px;
    padding: 2%;
    z-index: 119; //Posizionamento asse z
    background-color: white;
    //testo
    font-family: arial, "Informal Roman", inherit;
    font-size: x-large;
    color: blue;
    text-align: center;
  }
}

p.error{
  color: red;
}


