/*Definisco il css del div dell'header*/

div.head{
  /*Definisco la posizione rispetto a sinistra, alto, destra della pagina*/
  left: 0px;
  top: 0px;
  right: 0px;
  display:block;

  background-color: darkcyan; /*L'header ha lo sfondo veleste*/
  position:fixed; /*Il div rimane visibile anche con lo scrolling*/
  padding-top: 5px;
  padding-down: 15px;
  /*Gestisco lo spazio interno tra li elementi*/
  text-align: right; /*Metto il testo allineato a destra*/
  font-family: "Times New Roman", "Arial Black"; /*Definisco i vari stili di font per browser*/
  color: black; /*Definisco il colore delle scritte*/
  width: 100%; /*Lunghezza dell' header*/
  height: 55px; /*altezza dell' header*/
  /*border-style: unset; /*Definisco lo stile del bordo*/
  box-shadow: 1px  1px 1px 1px darkslategray;
  margin-bottom: 5px;

  button.login_button{ /*Si usa per le pagine di collegamento presenti nell' header*/
    margin: 5px; /*Definisco i margini di distanza da su, destra, giu, sinistra*/
    border-style: none;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
  }
  button.login_button:hover{ /*Si attiva quando ci passo sopra col mouse*/
    background-color: lightgray;
    color: black;
    text-decoration-line: none;
    cursor: pointer;
    img{
      width: 30px;
      height: 30px;
    }
  }

  button.login_button2{ /*Si usa per le pagine di collegamento presenti nell' header*/
    margin: 5px; /*Definisco i margini di distanza da su, destra, giu, sinistra*/
    border-style: none;
    background-color: transparent;
    padding: 5px;
    img{
      border-radius: 50%;
    }
  }
  button.login_button2:hover{ /*Si attiva quando ci passo sopra col mouse*/
    background-color: lightgray;
    color: black;
    text-decoration-line: none;
    cursor: pointer;
  }
}
div.tendina-gestione-appuntamenti{
  position:fixed;
  right: 200px;
  width: 190px;
  z-index: 118;
  text-align: center;
  background-color: #62e559;
}

div.tendina-login-button{
  position:fixed;
  right: 10px;
  top: 50px;
  padding: 5px;
  background-color: lightgray;
  text-align: center;
  width: 176px;
  font-size: small;
  z-index: 118;

}

input:focus{outline:none;} /*Mi toglie il bordo che si genera premendo nella barra di testo*/

#baricerca{
  height: 25px;
  display:inline-block;
  position: relative;
  background-color: deepskyblue;
  box-shadow: 1px 1px 1px cornflowerblue; //Ombreggiatura
  border:none;
  width: 150px;
  color: lightgray;
  font-style: italic;
}
//
#butt_search{
  position: relative;
  display: inline-block;
  border:none;
  background-color: transparent;
  border-radius: 15%;
  width: 30px;
  height: 30px;
}
#butt_search:hover{
  cursor: pointer;
}



p.error{
  color: red;
}


