body{
  max-width: 2000px;
  min-width: 400px;

}
#blocco_pagina
{
  top: 65px;
  padding-left:265px;
  position: fixed;
  background-color: green;
  background-position: center;
  max-width: 100%;
  height: 85%;
}

@media(max-width: 750px){
  #blocco_pagina{
    padding-left: 90px;
  }
}