body{
  width-max: 1000px;
  width-min: 300px;
}/*
#blocco_pagina
{
  margin-left: 265px;
  background-color: green;
  background-attachment: fixed; // Lo sfondo resta fisso
  background-position: center;
  border-radius: 5px 5px 5px 5px;
  max-width: 900px;
}*/