body{
  max-width: 2000px;
  min-width: 400px;

}
#blocco_pagina
{
  top: 56px;
  padding-top: 10px;
  padding-left:265px;
  padding-bottm: 6%;
  position: fixed;
  background-color: green;
  background-position: center;
  max-width: 100%;
  width: 100%;
  height: 85%;
  overflow: auto;

}

@media(max-width: 740px){
  #blocco_pagina{
    padding-left: 90px;
  }
}