@charset "UTF-8";
/*l'ordine delle pagine è importante!!!*/ /*Google FOnts Import Link*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
* {
  /*Google Font Import*/
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variabili colore */
/* Sfumature di grigio */
/* variabile raggio del bordo */
/*----------------------------------------------------------------------------------------------------------------------------*/
.sidebar {
  background: #161d34;
  position: fixed;
  top: 0px;
  left: 0;
  height: 100%;
  width-max: 260px;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i {
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar .nav-links {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
.sidebar .nav-links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
}
.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}
.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover {
  background: #1d1b31;
}
.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}
.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}
.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}
.sidebar .profile-details {
  position: relative;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar .profile-details .profile-content {
  display: flex;
  align-items: center;
}
.sidebar .profile-details img {
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar .profile-details i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar .profile-details .job {
  font-size: 12px;
}

/*----------------------------------------------------------------------------------------------------------------------------*/
.sidebar.close {
  width: 78px;
}
.sidebar.close .logo-details .logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar.close .nav-links {
  overflow: visible;
}
.sidebar.close .nav-links li .iocn-link {
  display: block;
}
.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}
.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links i.arrow {
  display: none;
}
.sidebar.close .profile-details {
  background: none;
  width: 78px;
}
.sidebar.close .profile-details img {
  padding: 10px;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
  display: none;
}

@media (max-width: 781px) {
  .sidebar.close .nav-links li .sub-menu {
    display: none;
  }
  .sidebar {
    width: 78px;
  }
  .sidebar.close {
    width: 0;
  }
  .home-section {
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }
  .sidebar.close ~ .home-section {
    width: 100%;
    left: 0;
  }
}
/*Definisco il css del div dell'header*/
div.head {
  /*Definisco la posizione rispetto a sinistra, alto, destra della pagina*/
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  background-color: darkcyan; /*L'header ha lo sfondo veleste*/
  position: fixed; /*Il div rimane visibile anche con lo scrolling*/
  padding-top: 15px;
  padding-down: 15px;
  /*Gestisco lo spazio interno tra li elementi*/
  text-align: right; /*Metto il testo allineato a destra*/
  font-family: "Times New Roman", "Arial Black"; /*Definisco i vari stili di font per browser*/
  color: black; /*Definisco il colore delle scritte*/
  width: 100%; /*Lunghezza dell' header*/
  height: 55px; /*altezza dell' header*/
  /*border-style: unset; /*Definisco lo stile del bordo*/
  box-shadow: 1px 1px 1px 1px darkslategray;
  margin-bottom: 5px;
}
div.head a.login_button { /*Si usa per le pagine di collegamento presenti nell' header*/
  /*Text*/
  text-decoration-line: none; /*Tolgo la sottolineatura default del link*/
  color: black; /*Colore testo nero*/
  position: relative;
  border-radius: 15%; /*Definisco il bordo*/
  padding: 10px; /*Definisco la dimensione del background, per essere abbastanza grande per il testo*/
  margin: 10px 10px 10px 10px; /*Definisco i margini di distanza da su, destra, giu, sinistra*/
}
div.head a.login_button:hover { /*Si attiva quando ci passo sopra col mouse*/
  background-color: lightgray;
  color: black;
  text-decoration-line: none;
  cursor: pointer;
}
div.head a.login_button2 { /*Si usa per le pagine di collegamento presenti nell' header*/
  /*Text*/
  text-decoration-line: none; /*Tolgo la sottolineatura default del link*/
  color: black; /*Colore testo nero*/
  position: relative;
  border-radius: 25%; /*Definisco il bordo*/
  padding: 10px; /*Definisco la dimensione del background, per essere abbastanza grande per il testo*/
  margin: 10px 10px 10px 10px; /*Definisco i margini di distanza da su, destra, giu, sinistra*/
}
div.head a.login_button2 img {
  border-radius: 50%;
}
div.head a.login_button2:hover { /*Si attiva quando ci passo sopra col mouse*/
  background-color: lightgray;
  color: black;
  text-decoration-line: none;
  cursor: pointer;
}

div.tendina-login-button {
  position: fixed;
  right: 10px;
  top: 50px;
  padding: 5px;
  background-color: lightgray;
  text-align: center;
  width: 176px;
  z-index: 118;
}

a.logout {
  background-color: #4a64e2;
  color: white;
}

a.logout:hover {
  background-color: white;
  color: darkblue;
}

input:focus {
  outline: none;
} /*Mi toglie il bordo che si genera premendo nella barra di testo*/
#baricerca {
  height: 25px;
  display: inline-block;
  position: relative;
  background-color: deepskyblue;
  box-shadow: 1px 1px 1px cornflowerblue;
  border: none;
  width: 150px;
  color: lightgray;
  font-style: italic;
}

#butt_search {
  margin-left: 20%;
  position: relative;
  display: inline-block;
  border: none;
  background-color: transparent;
  border-radius: 15%;
  width: 30px;
  height: 30px;
}

#butt_search:hover {
  cursor: pointer;
}

p.error {
  color: red;
}

div.boxAnimali {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}
div.boxAnimali img {
  width: 400px;
  height: 400px;
  flex-wrap: wrap;
  display: flex;
}

/*
#panel{
  position: absolute;
  top:0;
  z-index: 120;
  text-align: center;
  background-color: wheat;
  border-style: solid;
  max-width: 600px;
  select{
    width: 100px;
  }
}
*/
@media (max-width: 506px) {
  div.boxAnimali img {
    width: 325px;
    height: 325px;
  }
}
@media (max-width: 437px) {
  div.boxAnimali img {
    width: 275px;
    height: 275px;
  }
}
/*

div.boxAnimali{
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: auto;
  width:98%; height:100%;
  //padding:1px 0;
  max-width: 100%;
  div.Animale{
    font-size: medium;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    position: relative;
    height: 50%;
    width: 100%;
    //max-width: 512px;
    //min-width: 387px;
    min-height: 235px;
    margin: 5px; //Distanzia tra gli elementi
    background-color: gray;
    !*word-wrap: break-word;*!
    overflow: hidden; //Nascondo il testo che esce
    img{
      position: relative;
      background-color: blueviolet;
      height: 100%;
      width: 40%;
    }
    p{
      text:white;
      justify-content: center;
      text-align: center;
      background-color: darkcyan;
      height: 100%;
      width:60%;

    }
  }

}

@media (max-width: 781px){

    div.Animale{
      width: 100%;
      max-width: 100%;
    }

}

@media (max-width: 682px){

    div.boxAnimali{
      div.Animale{
        img{
          min-width: 173px;
          width: 100%;
          position:absolute;
        }
        img:hover{
          opacity: 20%;
          z-index: -1;
        }
        p{
          min-width: 173px;
          width: 100%;
        }
      }

  }
}



@media (min-width: 1090px){

    div.boxAnimali{
      div.Animale{
        max-width: 48%;
        !*img{
          width: 50%;
        }*!
        !*p{
          width: 50%;
        }*!
      }
    }

}
*/
/*css per il footer*/
footer {
  position: absolute;
  bottom: 0px;
  z-index: 100;
  background-color: #161d34;
  text-align: center;
  color: white;
  font-size: small;
  height: 6%;
}
footer div { /* css per la barra orizzontale nel footer*/
  background-color: #161d34;
}

@media (max-width: 1870px) {
  footer {
    height: 4%;
  }
}
@media (max-width: 1362px) {
  footer {
    height: 0%;
  }
}
body {
  max-width: 1920px;
  max-height: 1080px;
  min-width: 400px;
}

#blocco_pagina {
  top: 56px;
  padding-top: 10px;
  padding-left: 270px;
  padding-bottom: 6%;
  position: fixed;
  background-color: green;
  background-position: center;
  max-width: 100%;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: -1;
}

@media (max-width: 924px) {
  #blocco_pagina {
    height: 95%;
  }
}
@media (max-width: 781px) {
  #blocco_pagina {
    padding-left: 85px;
    height: 94%;
  }
}
div.form-group p.titolo {
  font-size: large;
  font-family: Helvetica, Arial, sans-serif;
  color: #0930f2;
}

#definizioneUser {
  width: 200px;
}

p.suggerimento_inserimento {
  font-family: "Tempus Sans ITC", inherit;
  font-size: small;
  color: gray;
}

div.credenziali {
  position: absolute;
  top: 10px;
  right: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: green;
  z-index: 150;
}
div.credenziali p.titolo {
  font-size: large;
  font-family: Helvetica, Arial, sans-serif;
  color: #0930f2;
}

#civico {
  width: 80px;
}

a.error {
  color: darkred;
  text-decoration-line: none;
}

div.pop-up-conferma {
  display: flex;
  position: fixed;
  width: 75%;
  justify-content: center;
  text-align: center;
  background-color: deepskyblue;
  margin-left: 12%;
  z-index: 151;
  padding: 10px;
  min-width: 429px;
}

@media (max-width: 953px) {
  div.credenziali {
    position: relative;
    border-style: none;
    margin-left: 50px;
  }
}
div.login_div {
  /*position: absolute;
  background-color: rgba(150,150,150, .75);
  width: 100%;
  height: 100%;
  z-index: 100;
  padding:10%;*/
  display: flex;
  justify-content: center;
  max-width: 1024px;
  margin: 0 auto;
}
div.login_div form.form_login {
  position: relative;
  display: block;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 10%;
  /*margin-right: 5%;*/
  width: 100%;
  height: 70%;
  max-height: 800px;
  max-width: 500px;
  min-height: 320px;
  min-width: 316px;
  padding: 1%;
  z-index: 0;
  background-color: orange;
  font-family: arial, "Informal Roman", inherit;
  font-size: x-large;
  color: blue;
  text-align: center;
  font-size: medium;
}
div.login_div form.form_login .close {
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 760px) {
  form.form_login {
    font-size: small;
    margin-top: 20%;
    margin-left: 0;
  }
}
div.container-fluid p.titolo {
  text-align: center;
  font-family: "Tempus Sans ITC", "Times New Roman";
  color: darkgreen;
  font-size: large;
}
div.container-fluid div.div_user_profile_info {
  position: relative;
  margin-top: 75px;
}
div.container-fluid div.row div {
  text-align: center;
}
div.container-fluid div.row div.modifiche_profilo {
  background-color: #62e559;
}

/**/

/*# sourceMappingURL=main.css.map */
