p.titolo{
    font-family: Helvetica, Arial, sans-serif;
    color: #0930f2;
}
#definizioneUser{
    width: 200px;
}
/*p.conferma{
    text-align: right;
    color: #4a64e2;
}*/
div.credenziali{
    position:absolute;
    top: 10px;
    right: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: green;
}
#civico{
    width: 80px;
}

form > a{
    color: darkred;
    text-decoration-line: none;
}
a.error{
    color: darkred;
    text-decoration-line: none;
}
@media(max-width: 953px){
    div.credenziali{
        position: relative;
        border-style: none;
        margin-left:50px;
    }
}
